{% load hw15_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
You are reading that on {% now "jS F Y, H:i" %} <br>
This is for testing custom profanity filter: {{ "Where is the money, Lebowski? Where the fuck is the money, asshole?"|clear_phrase }} <br>
And here I am testing custom tag: {% random_book_publisher %} <br>
{% block content %}
{% endblock %}
{% block pagination %}
    {% if object == true %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>