{% extends "hw15/base_generic.html" %}

{% block content %}
    <ul>
        <li>ID: {{ object.id|floatformat:1 }}</li>
        <li>Name: {{ object.name }}</li>
        <li>Release date: {{ object.release_date }}</li>
        <li>People watched: {{ num }}</li>
        <ul>
            {% for person in people_watched %}
                {% comment %} One more comment and one more filter {% endcomment %}
                <li>{{ person.name|truncatewords:1 }}</li>
            {% endfor %}
        </ul>
    </ul>
{% endblock %}
