{% extends "hw15/base_generic.html" %}

{% block content %}
    <ul>
        {% comment %} using filter here {% endcomment %}
        <li>ID: {{ object.id|floatformat:1 }}</li>
        <li>Name: {{ object.name }}</li>
        <li>Date of birth: {{ object.date_birth }}</li>
        <li>Films watched: {{ num }}</li>
        <ul>
            {% for film in films_watched %}
                 {% comment %} and here {% endcomment %}
                <li>{{ film.name|upper }}</li>
            {% endfor %}
        </ul>
    </ul>
{% endblock %}